.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 600px;
    background-image:linear-gradient(to right, rgba(31.5, 31.5, 52.5, 1) 150px, rgba(31.5, 31.5, 52.5, 0.84) 100%); 
}
/* .backImg{
    position: relative;
    opacity: 0.5;
    filter: alpha(opacity=100);
    z-index: 0;

} */
.info_div_img{
    flex: 0 0 1;
    min-height: 400px;
    min-height: 400px;
    z-index: 1;
    padding: 1rem 0px;

}
.info_div_img_postImag{
    padding: 0px 10px;
    border-radius: 2rem;
}
.info_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
}
.info_data_container{
    flex: 0 0 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;

}
.info_data_overview{
    width: 80%;
    overflow-x: hidden;
    overflow-y: hidden;
}